BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

BreakBeforeBraces: Allman

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Empty
PackConstructorInitializers: Never
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment
